#tasks {
    background-color: #ddd;
    padding:20px;
    border-radius: 20px;
}
.task {
    padding:10px;
    border:1px solid #aaa;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
    font-weight: bold;
    background-color: white;
    margin-bottom:10px;
    border-radius: 5px;
}


.task:hover{
    background-color: yellow;
   
}